:root {
    /* Primary */
    --col1: hsl(249, 99%, 64%);
    --col2:hsl(278, 94%, 30%);
    --input-errors:hsl(0, 100%, 66%);

    /* Neutral */
    --dark-grayish-violet: hsl(279, 6%, 55%);
    --very-dark-violet: hsl(278, 68%, 11%);
    --light-grayish-violet: hsl(270, 3%, 87%);

    --scale: 0.55;
}

/* General */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    vertical-align: top;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--dark-grayish-violet);
    font-size: 18px;
    font-family: 'Space Grotesk', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 343px;
    background-color:#fff;
    padding-bottom: 2rem;
}

label{
    font-family: inherit;
    font-size: 0.75rem;
    text-transform: uppercase;
    color: var(--very-dark-violet);
}

input{
    margin: 0.5rem 0;
    padding: 0.5rem;
    font-size: 18px;
    border-radius: 0.5rem;
    outline: none;
}

input:focus:not(#submit){
    background: linear-gradient(white,white) padding-box, 
    linear-gradient(90deg, hsl(249, 99%, 64%),hsl(278, 94%, 30%)) border-box;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    border-radius: 0.5rem;
}


form{
    max-width: 343px;
    padding: 0 1.1rem;
    z-index:99999;
    transition: ease-in 0.3s;
}

.card-expiration{
    padding: 0;
    display:flex;
}

.card-container{
    background-image: url(images/bg-main-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 343px;
    height: 200px;
    margin-bottom: 5rem;
}

.card-front,.card-back{
    color: #fff;
}

.card-info-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#card-holder{
    text-transform: uppercase;
}

.date-and-cvc{
    display: flex;
    gap: 1rem;
    max-width: 100%;
}

.exp-date{
    max-width: 4rem;
}

.date-container{
    display: flex;
    flex-direction: column;
}

.cvc-container {
    display: flex;
    flex-direction: column;
    max-width: 9rem;
}

.cta{
    margin-top: 1rem;
    padding: 1rem;
    background-color: var(--very-dark-violet);
    color: #fff;
    font-family: inherit;
    font-size: inherit;
    border-radius: 0.5rem;
    border: none;
    width: 100%;
    transition: background-color ease-in 0.3s;
}

.card-container{
    position: relative;
}

#card-cvc {
    position: absolute;
    top: -148px;
    right: -120px;
}

.card-front {
    position: absolute;
    bottom: -95px;
    left: -85px;
    scale: var(--scale);
}

.card-info{
    position:absolute;
    bottom: 30px;
    left: 40px;
    z-index: 999;
}

.card-num{
    font-size: 2rem;
}

.card-details{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.card-logo {
    position: absolute;
    left: 20px;
    bottom: 45px;
    scale: var(--scale);
    z-index: 999;
}

.card-back img {
    position: absolute;
    bottom: -20px;
    left: -20px;
    scale: var(--scale);
}

.cta:hover{
    cursor: pointer;
    background: hsl(278, 49%, 25%);
}

.active{
    background-color: white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 343px;
    padding: 0 1.4rem;
    transition: ease-in 0.3s;
}

.active .cta{
    margin: 1rem 0;
}

.active h3{
    color: var(--very-dark-violet);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 300;
    margin: 2rem 0 1rem;
}

.active p{
    color:gray;
    margin-bottom: 1rem;
}